CompileFlags:
  CompilationDatabase: /Users/davidpoliakov/TI_labor/gitProjekte/ITS-BRD-VSC/Programs/StoppuhrASM/out/StoppuhrASM/ITSboard_Assembly/Debug
  Add:
    - -include
    - /Users/davidpoliakov/TI_labor/gitProjekte/ITS-BRD-VSC/Programs/StoppuhrASM/out/StoppuhrASM/ITSboard_Assembly/Debug/compile_macros.h
